<ul class="questions-list col-md-9 col-md-pull-3">
  <% questions.each do |question| %>
    <li id="pq-frame-<%= question.id %>" class="row">
      <%= render partial: 'dashboard/question_data', locals: {question: question} %>
    </li>
    <hr />
  <% end %>
  <div id='pages'>
    <%= will_paginate @questions %>
  </div>
</ul>
