<h2>Directorates</h2>
<div id="admin-directorate-list">
  <div class="row>">
    <div id="admin-button-bar" class="col-md-2.5 pull-right">
      <%= link_to 'Add directorate', new_directorate_path, {class: 'button-secondary'} %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th id="admin-status">Status</th>
        <th></th>
      </tr>
    </thead>
    <% @directorates.each do |directorate| %>
      <tbody>
        <tr>
          <td><%= link_to "#{directorate.name}", directorate_path(directorate) %></td>
          <td>
            <% if directorate.deleted %>
              <i class="fa fa-times"></i>&nbsp;Inactive
            <% else %>
              <i class="fa fa-check-circle"></i>&nbsp;Active
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_directorate_path(directorate) %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
