<h2>Directorate details</h2>
<hr />
<p id="notice"><%= notice %></p>
<p><strong>Name:</strong>&nbsp;<%= @directorate.name %></p>
<p>
	<% if @directorate.deleted %>
		<i class="fa fa-times"></i>&nbsp;Inactive
	<% else %>
		<i class="fa fa-check-circle"></i>&nbsp;Active
	<% end %>
</p>
<!-- 
<%= link_to 'Edit', edit_directorate_path(@directorate) %> |
<%= link_to 'Back', directorates_path %>
 -->
