<h2>Directorate details</h2>
<div id="admin-directorate-details">
	<p id="notice"><%= notice %></p>
	<h4>Name</h4>
	<%= @directorate.name %>
	<h4>Status</h4>
	<% if @directorate.deleted %>
		<i class="fa fa-times"></i>&nbsp;Inactive
	<% else %>
		<i class="fa fa-check-circle"></i>&nbsp;Active
	<% end %>
	<%= link_to 'Edit', edit_directorate_path(@directorate), {class: 'admin-link'} %>
	<%= link_to 'Return to Directories', directorates_path, {class: 'admin-link'} %>
</div>