k8s-deploy/localhost/*secrets.yaml filter=git-crypt diff=git-crypt
k8s-deploy/dev/*secrets.yaml filter=git-crypt diff=git-crypt
k8s-deploy/staging/*secrets.yaml filter=git-crypt diff=git-crypt
k8s-deploy/production/*secrets.yaml filter=git-crypt diff=git-crypt
