| [
- @dashboard.gecko[0...-1] do |field|
 |
  {
    "title": {
      "text": "Chrome"
    },
    "label": {
      "name": "New!",
      "color": "#ff2015"
    }
 | }
/ - if field != @dashboard.gecko.last
/  | ,
| ]
