<h2>Deputy Directors</h2>
<div id="admin-deputy-list">
  <div class="row>">
    <div class="col-md-3.5 pull-right">
      <%= link_to ('Add Deputy Director'), new_deputy_director_path, {class: 'btn btn-secondary'} %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Division</th>
        <th class="admin-status">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @deputy_directors.each do |deputy_director| %>
        <tr>
          <td><%= link_to "#{deputy_director.name}", deputy_director_path(deputy_director) %></td>
          <td><%= deputy_director.division.name %></td>
          <td>
            <% if deputy_director.deleted %>
              <i class="fa fa-times"></i>&nbsp;Inactive
            <% else %>
              <i class="fa fa-check-circle"></i>&nbsp;Active
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_deputy_director_path(deputy_director) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
