<h2>Press Desks</h2>
<div id="admin-pd-list">
  <div class="row>">
    <div class="col-md-3.5 pull-right">
      <%= link_to ('Add Press Desk'), new_press_desk_path, {class: 'btn btn-secondary'} %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Press Officers</th>
        <th class="admin-status">Status</th>
        <th></th>
      </tr>
    </thead>
    <% @press_desks.each do |press_desk| %>
      <tbody>
        <tr>
          <td><%= link_to "#{press_desk.name}", press_desk_path(press_desk) %></td>
          <td><%= press_desk.press_officers.count unless press_desk.press_officers.nil? %></td>
          <td>
            <% if press_desk.deleted %>
              <i class="fa fa-times"></i>&nbsp;Inactive
            <% else %>
              <i class="fa fa-check-circle"></i>&nbsp;Active
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_press_desk_path(press_desk) %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
