h1
  | Edit user: #{@user.name}
#admin-user-form
  = form_for @user do |f|
    .form-group
      = f.label(:name, "Name:")
      = f.text_field :name, {class: 'form-control'}
    .form-group
      = f.label(:name, "Email:")
      = f.email_field :email, {class: 'form-control'}
    .form-group
      = f.label(:roles, "Role:")
      = f.select(:roles, [ User::ROLE_PQ_USER, User::ROLE_FINANCE ])
    - unless @user.new_record?
      p Status:
      .form-group
        label.block-label for="user_deleted"
          = f.check_box :deleted
          | Inactive
    .form-group
      = f.submit 'Save', :id => 'save', :class => 'button'
= link_to 'Return to user list', users_path, {class: 'admin-link'}
