<h2>Divisions</h2>
<div id="admin-division-list">
  <div class="row>">
    <div id="admin-button-bar" class="col-md-2.5 pull-right">
      <%= link_to ('Add division'), new_division_path, {class: 'button-secondary'} %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Directorate</th>
        <th id="admin-status">Status</th>
        <th></th>
      </tr>
    </thead>
    <% @divisions.each do |division| %>
      <tbody>
        <tr>
          <td><%= link_to "#{division.name}", division_path(division) %></td>
          <td><%= division.directorate.name %></td>
          <td>
            <% if division.deleted %>
              <i class="fa fa-times"></i>&nbsp;Inactive
            <% else %>
              <i class="fa fa-check-circle"></i>&nbsp;Active
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_division_path(division) %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
