.form-group {

  .search {
  
    label {
      display: inline-block;
      padding-right: .5em;
      font-size: 90%;
    }
    
    .search-box {
      border: 2px solid #bfc1c3;
      display: inline-block;
    }
    
    input, #search_button {
      border: none;
      display: inline-block;
    }
    #search_button {
      border-top: none;
      border-right: none;
      border-bottom: none;
      border-left: 1px solid #bfc1c3;
    }
  }
}

.content-inner { 
  legend {
    border: none;
    display: block;
    margin: 0;
    padding: 15px 0;
    font-weight: bold;
  }

  .form-label, .form-control { font-size: 1.9rem; }
}
