#nav {
  margin: 0 25px;
}

.navbar-form.navbar-right {
  position: absolute;
  top: 8px;
  right: 0px;

  @media screen and (max-width: 1000px) {
    position: inherit;
  }
}

.navbar.navbar-default {
  background-color: $panel-colour;
  border-right: 1px solid $border-colour;
  border-bottom: 1px solid $border-colour;
  border-left: 1px solid $border-colour;
  border-radius: 0;
  .navbar-nav {
    li {
      a {
        color: $text-colour
      }
      a:hover, a:focus {
        background-color: $yellow;
      }
    }
    li.active {
      background-color: #e7e7e7;
      a {
        padding-bottom: 18px;
      }
    }
  }
  .search {
    label, div {
      display: inline-block;
    }
    label {
      padding-right: .5em;
      position: relative;
      top: 2px;
    }
  }
  #search_field {
    width: 142px;
    border-radius: 0;
    margin-right: -1px;
    margin-bottom: 0;
    height: 34px;
  }
  #search_button {
    border-radius: 0;
    width: 34px;
    height: 2.1rem;
    padding: 4px;
  }
}

nav.navbar-default .navbar-link {
  color: #444;
}
