.navbar.navbar-default {
  background-color: $panel-colour;
  border-right: 1px solid $border-colour;
  border-bottom: 1px solid $border-colour;
  border-left: 1px solid $border-colour;
  border-radius: 0;
  .navbar-nav {
    li {
      a {
        color: $text-colour
      }
      a:hover, a:focus {
        background-color: $yellow;
      }
    }
    li.active {
      background-color: #e7e7e7;
      a {
        padding-bottom: 18px;
      }
    }
  }
  .search {
    label, div {
      display: inline-block;
    }
    label {
      padding-right: .5em;
      position: relative;
      top: 2px;
    }
  }
  #search_field {
    width: 142px;
    border-radius: 0;
    margin-right: -4px;
    margin-bottom: 0;
  }
  #search_button {
    border-radius: 0;
    width: 34px;
    height: 3.4rem;
    padding: 4px;
  }
}

// override bootstrap
@media (max-width: 767px) {
  nav.navbar-default {
    .navbar-nav .open .dropdown-menu > li > a {
      color: #444;
    }

    #search_field.form-control {
      display: inline-block;
    }
    .navbar-toggle .icon-bar {
      background-color: #444;
    }
  }
}

nav.navbar-default .navbar-link {
  color: #444;
}
