#!/bin/bash

# 
if [ -z "$LOGSTASH_SERVER" ]; then 
  echo "No logstash server defined - skipping"
  exit 
fi 

# Setup LOGSTASH config file
if [ ! -f "/etc/logstash-forwarder" ]; then
  echo "No logstash-forwarder config - skipping"
  exit 
fi

# Run Config script
exec /opt/logstash-forwarder/bin/logstash-forwarder -config /etc/logstash-forwarder


###
### Example logstash forwarder script for local container
###

# {
#   "network": {
#    "servers": [ "$LOGSTASH_SERVER" ],
#    "timeout": 15
#  },
#  "files": [
#    {
#      "paths": [ "/tmp/feeds/fifofeed" ],
#      "fields": { "type": "stdin" }
#    }
#  ]
#}


