<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      body {
        font-family: arial, sans-serif;
        font-size: 12pt;
      }
    </style>
  </head>
  <body style="font-family: arial, sans-serif; font-size: 12pt;">
        <p>
          View the <%= link_to 'New parliamentary questions to be allocated today', controller: 'early_bird_dashboard', action: 'index', token: @template_params[:token], entity: @template_params[:entity], :host => root_url %> on <strong> <%= Date.today.strftime "%d/%m/%Y" %> </strong> by the Ministry of Justice, Parliamentary Branch.
        </p>
        <p>
          This link will only be active <b>today</b>. The content is best viewed in <b>Firefox</b> browser.
        </p>
        <p>
          You have signed up to receive these daily emails. To unsubscribe, <a href="mailto:<%= Settings.mail_reply_to %>">contact the PQ Team</a>.
        </p>
        <%= render 'shared/mailer/email_signature' %>
  </body>
</html>
