<div style="font-family: arial, sans-serif; font-size: 12pt;">Alert</div>
<div style="padding-left:0.5em;margin-left:10px;border-left:4px solid black;margin-top:5px;margin-right:5px;margin-bottom:5px;">
  <p style="font-family: arial, sans-serif; font-size: 12pt;">The API import this morning at <%= @params['time'] %> failed.</p>
  <p style="font-family: arial, sans-serif; font-size: 12pt;">It returned status code <%= @params['code'] %>.</p>
  <p style="font-family: arial, sans-serif; font-size: 12pt;">Please check the logs to diagnose the issue.</p>
</div>