<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        </head>
    <body>
        <p style="font-family: arial, sans-serif; font-size: 12pt;">
            These are the <%= link_to 'PQs Allocated today', controller: 'watchlist_dashboard', action: 'index', token: @template_params[:token], entity: @template_params[:entity], :host => root_url %> by the Ministry of Justice, Parliamentary Branch.
        </p>
        <p style="font-family: arial, sans-serif; font-size: 12pt;">
            This email is valid for <b>today</b> only.
        </p>
        <p style="font-family: arial, sans-serif; font-size: 12pt;">
          You will receive an email each day to view PQs allocated on that day
        </p>
        <p style="font-family: arial, sans-serif; font-size: 12pt;">
            If you no longer wish to receive these daily emails <a href="mailto:<%= Settings.mail_reply_to %>">contact the PQ Team</a>
        </p>
        <p style="font-family: arial, sans-serif; font-size: 12pt;">
          This is a new service and your <a href="mailto:pqfeedback@digital.justice.gov.uk?Subject=PQ%20Email%20Feedback">feedback</a> will help us improve it.
        </p>
        <%= render 'shared/mailer/email_signature' %>
    </body>
</html>
