<% if !internal_deadline.nil? && !progress_val==Progress.closed_questions %>
	<% from_time = DateTime.now.change ({:offset => 0}) %>
    <% overdue = (from_time -  internal_deadline.to_datetime) > 0 %>
    <% if overdue %>
        <span class="deadline-overdue"><i class="fa fa-exclamation-triangle"></i></span>
        <h1><%= progress_val %></h1>
    <% end %>
<% end %>