- if internal_deadline && !is_closed && draft_reply.blank?
  - deadline_uk = Time.find_zone('London').parse(internal_deadline.to_s).to_datetime
  - if deadline_uk < DateTime.now
    = render 'shared/warning_icon'
