<% flash.each do |type, message| %>
	<div class="alert <%= flash_class_for(type) %> fade in">
		<%= message %><button class="close" data-dismiss="alert">×</button>
	</div>
<% end %>

<% flash.clear %>