<% flash.each do |type, message| %>
    <% if !message.blank? %>
	    <div class="alert <%= flash_class_for(type) %> fade in">
		    <%= message %> <button class="close" data-dismiss="alert">x</button>
	    </div>
    <% end %>
<% end %>
<% flash.clear %>