= render partial: "shared/flash_messages", flash: flash
- if question.action_officers_pqs.size > 0
  .question-allocation
    h4 Allocation:
    ul.question-allocation-list data-pqid=question.id
      - question.action_officers_pqs.each do |ao_pq|
        li
          - if !ao_pq.action_officer.nil?
            = ao_pq.action_officer.name
            | (#{ao_pq.action_officer.deputy_director.division.name})
            - if ao_pq.accept
              span.label.flag-pq-accepted Accepted
            - elsif ao_pq.reject
              span.label.flag-pq-rejected Rejected
              a.button data-target="#rejection-#{ao_pq.id}-#{ao_pq.action_officer.id}" data-toggle="collapse"
                | Display Reason
                span.caret
              .collapse id="rejection-#{ao_pq.id}-#{ao_pq.action_officer.id}"
                p
                  strong= ao_pq.reason_option
                p= ao_pq.reason
            - else
              span.label.flag-no-response No response
