<%= link_to 'Answer the PQ', {:controller => 'answering', :action => 'index', :id => pq_id, :remote => true}, {:class => 'answer-pq-link button', :id => "answer-pq-link-#{pq_id}", 'data-id' => pq_id } %>

<div id="answer-pq-<%= pq_id %>">

</div>
