<h2>Import Logs</h2>

<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>DateTime</th>
    <th>Type</th>
    <th>Message</th>
  </tr>
  </thead>

  <tbody>
  <% @logs.each do |log| %>
      <tr>
        <td><%= log.id %></td>
        <td><%= log.created_at %></td>
        <td><%= log.log_type %></td>
        <td><%= log.msg %></td>
      </tr>
  <% end %>
  </tbody>
</table>
