
<h3>Imported result</h3>

<% if !@import_result.nil? %>
    <p> <%= @import_result %></p>
<% end %>


<% if !@questions.nil? %>

    <% @questions.each do |q| %>

      <pre>
        <%= q.to_s %>
      </pre>

    <% end %>

<% end %>


<% if !@errors.nil? %>

<h3>Errors</h3>

    <% @errors.each do |e| %>

        <h5>Error</h5>
        <pre>
          <%= e[:message] %>
        </pre>
        <pre>
           <%= e[:question] %>
        </pre>


    <% end %>
<% end %>
