#admin-po-form
  = form_for(@press_officer) do |f|
    - if @press_officer.errors.any?
      .alert.notice
        = pluralize(@press_officer.errors.count, "error")
        | prohibited this press_officer from being saved:
        br/
        - @press_officer.errors.full_messages.each do |msg|
          = msg
          br/
    fieldset
      .form-group
        label.form-label for="press_officer_name"  Name
        = f.text_field :name, {class: 'form-control'}
      .form-group
        label.form-label for="press_officer_email"  Email
        = f.text_field :email, {class: 'form-control'}
      .form-group
        label.form-label for="press_officer_press_desk_id"  Press Desk
        = f.collection_select(:press_desk_id, @press_offices, :id, :name, :include_blank => "Please select")
      .form-group
        p.text Status
        label.block-label for="press_officer_deleted" 
          = f.check_box :deleted
          | Inactive
      .form-group
        = f.submit 'Save', :id => 'save', :class => 'button'
