h2 Press officer details
#admin-po-details
  p#notice= notice
  h4 Name
  p.text= @press_officer.name
  h4 Email
  p.text= @press_officer.email
  h4 Status
  - if @press_officer.deleted
    p.text
      i.fa.fa-times
      | \&nbsp;Inactive
  - else
    p.text
      i.fa.fa-check-circle
      | \&nbsp;Active
  = link_to 'Edit', edit_press_officer_path(@press_officer), {class: 'admin-link'}
  = link_to 'Return to press officer list', press_officers_path, {class: 'admin-link'}
