#admin-wl-form
  = form_for @watchlist_member do |f|
    - if @watchlist_member.errors.any?
      .alert.notice
        = pluralize(@watchlist_member.errors.count, "error")
        | prohibited this watchlist member from being saved:
        br/
        - @watchlist_member.errors.full_messages.each do |msg|
          = msg
          br/
    fieldset
      .form-group
        label.form-label for="watchlist_member_name"  Name
        = f.text_field :name, {class: 'form-control'}
      .form-group
        label.form-label for="watchlist_member_email"  Email
        = f.text_field :email , {class: 'form-control'}
      p.text Status
      .form-group
        label.block-label for="watchlist_member_deleted" 
          = f.check_box :deleted
          | Inactive
      .form-group
        = f.submit 'Save', :id => 'save', :class => 'button'
