- if flash[:success]
  .pq-msg-success
    = flash[:success]

h1.govuk-heading-l Archive PQ Session

h2.govuk-heading-m There are #{@count} unarchived questions
h3.govuk-heading-s Prefixes previously used, or reserved: #{@all_prefixes}

= render 'form' unless @count.zero?
