- if flash[:success]
  .pq-msg-success
    = flash[:success]

h1 Archive PQ Session

h2 There are #{@count} unarchived questions
h3 Prefixes previously used, or reserved: #{@all_prefixes}

= render 'form' unless @count.zero?
