h2 Other government departments
#admin-odg-list
  div class="row>" 
    #admin-button-bar.pull-right class="col-md-2.5" 
      = link_to ('Add government department'), new_ogd_path, {class: 'button-secondary'}
  table.table
    thead
      tr
        th Name
        th Acronym
        th#admin-status Status
        th
    tbody
      - @ogds.each do |ogd|
        tr
          td= link_to "# ogd.name ", ogd_path(ogd)
          td= ogd.acronym
          td
            - if ogd.deleted
              i.fa.fa-times
              | \&nbsp;Inactive
            - else
              i.fa.fa-check-circle
              | \&nbsp;Active
          td= link_to 'Edit', edit_ogd_path(ogd)
