h2 Government department details
#admin-ogd-details
  p#notice= notice
  h4 Name
  p.text= @ogd.name
  h4 Acronym
  p.text= @ogd.acronym
  h4 Status
  - if @ogd.deleted
    p.text
      i.fa.fa-times
      | \&nbsp;Inactive
  - else
    p.text
      i.fa.fa-check-circle
      | \&nbsp;Active
  = link_to 'Edit', edit_ogd_path(@ogd), {class: 'admin-link'}
  = link_to 'Return to other government department list', ogds_path, {class: 'admin-link'}
