$govuk-global-styles: true;
$govuk-new-link-styles: true;

@import "govuk-frontend/dist/govuk/all";

$panel-colour: #DEE0E2;
$border-colour: #bfc1c3;
$text-colour: #0b0c0c;
$yellow: govuk-colour("yellow");
$govuk-blue: govuk-colour("blue");
$button-colour: #00703c;
$error-colour: govuk-colour("red");
$page-colour: white;
$red: govuk-colour("red");
$link-colour: #005ea5;
$grey-2: #bfc1c3;
$highlight-colour: #f8f8f8;
$light-blue: govuk-colour("light-blue");
$white: govuk-colour("white");
$grey-4: govuk-colour("mid-grey");
$gutter-half: 15px;

// //project specific
@import "moj/_pq";
@import "moj/forms";
@import "moj/navigation";
@import "vendor/bootstrap";
@import "vendor/jquery.datetimepicker";
@import "vendor/pq-select2";
@import "select2/dist/css/select2";
