

#global-header.with-proposition .header-wrapper .header-proposition .content{margin:6px 47% 0 15px; text-align: right;}
#global-header .header-wrapper {padding-left:0px;max-width:1112px}
body.alpha .indicator p{padding-left:0px;max-width:1112px;}
a.btn-success{color:white}

/* General ====================================================================== */
h1 {font-size:24px;font-weight:normal;display:inline;}

.inline{display:inline}
.right{float:right}

label{display:block;font-weight:500;font-size:18px;}
.date, .datetimepicker{width:12em;}
.label-primary, .label-info, .label-warning {vertical-align:6px;margin-left:1em;padding:0.4em 0.6em;}

#pages,#progress-menu a,.pq-header,.internal-deadline-form,.select2-container-multi .select2-choices li{width:100%}

#pages{clear:both;display:block;text-align:center;}
.pagination{margin-top:0;margin-bottom:0;}
.pagination > li > a, .pagination > li > span{border-top:0;border-bottom:0;}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{border-radius:0;border-left:0;border-right:0;}

#pq-details-header h3, .pq-header h3{display:inline}

/* PQ Details Page ============================================================== */
.start-hidden{display:none;}

#pq-details-header{line-height:3.1em;padding:0px;}
#pq-detail-area{padding-top:1em;padding-bottom:1em;}

#progress-menu{padding-right:0;margin-right:0;}
#progress-menu a{display:block;text-decoration:none;}
#progress-menu a:hover{color:#000;border-bottom:1px solid #000;}
#progress-panel{margin:0px;padding:0px;}
#progress-menu-answer-data{min-height:200px}
#progress-menu-form .button {padding:15px}
#progress-menu-pq-data,#progress-menu-fc-data,#progress-menu-com-data,#progress-menu-sub-data,#progress-menu-pod-data,#progress-menu-min-data,#progress-menu-answer-data {padding:15px 15px 0px 0px;}
#progress-menu a,.questions-list li p,.questions-list li label,.minister-dropdown,.trim-links-header,.button, .datetimepicker{margin:13px 0px;}
.ao-reminder-link{margin:15px 0px}
.comm-header{margin:15px 0px}
.label-success{margin:15px 0px}

.label-danger{padding:6px 12px}
/* ============================================================================== */

/* PQ Dashboard Page ============================================================ */
ul.questions-list{list-style:none}

.questions-list li{border-bottom:1px solid #bfc1c3;margin:18px 0 10px 0;}
.questions-list li label{font-size:16px}

.pq-header{padding:0.5em;}
.pq-question, .panel{padding:5px;margin:10px;}

.question-allocation-list li{border:none;margin:3px 0px;padding:0px;}
.allocation-info .btn{margin:13px 0px;}

.select2-container .select2-choice abbr{top:5px!important;}
a.btn-warning, .label-success {color:#000;padding:4px 6px;}
i.fa-envelope {color:#fff;margin-left:4px;}

/*a:visited .btn-warning.ao-reminder-link {color:#000}*/
/* ============================================================================== */

/* Status Filters =============================================================== */
#status-filters{margin-top:20px}
#status-filters .badge{float:right;min-width:2.5em;background-color:#000;}
#status-filters .active .badge{background-color:#fff}
/* ============================================================================== */

/* Status Filters =============================================================== */





/* ============================================================================== */
h2 {border-bottom:solid 1px #bfc1c3; padding:.5em 0em;}
h2 .badge{vertical-align:middle;background-color:#000;}

.questions-detail-outer{
	/*width:700px;*/
	margin-top:20px;
    border:1px solid #bfc1c3;
    padding:15px;
}

.member-photo{
	margin:5 5 5 5;
    border:1px solid #bfc1c3;
    height:90px;
	width:70px;
}

.question-allocation-list{list-style: circle}

.accept-reject-form{margin: 20px 0;}

.pq-inline-form {display:inline!important}

.trim-links-header {
    position:relative;
    cursor:default;
    color:#000;
}

.trim-links-form {
    /*border: 2px black solid;
    background-color: grey;*/
    width:250px;
    height: auto;
    margin: 10px;
    vertical-align:middle;
    display: none;
    position:absolute;
    top:-12px;
    left: -12px;
    cursor:default;
    z-index:5;
    float:left;
    color:black;
    line-height:35px;
}

input[type="file"] {
    line-height: 10px;
 }

.trim-links-form:hover {
    display:block;
}

.trim-links-cancel {
    float:left;
    height:35px;
}
.file-chooser {
    display: none!important;
}
.file-choose-replace{
    display:inline;
    float:left;
    line-height: 35px;
    padding-left: 10px;
}

.progress-menu-form {
    border:1px solid black;
    padding-left:10px;
}