@import "colours";
@import "design-patterns/alpha-beta";

$phase: beta;

// = Reset =================================================================================

.row {
  margin: 0px;
  &.row-spacer{
    margin: 15px 0;
  }
}

p { margin: 0px 0px 6px 0px; }

body {
  font-size: 19px;
  line-height: 1.3;
}

// = Colour definitions ====================================================================

$success-colour: $button-colour;
$notice-colour: $govuk-blue;
$danger-colour: $error-colour;

#build,
.fa-envelope,
.open,
.dropdown-toggle.btn-success,
.trim-links-header:hover,
.trim-links-cancel:hover { color: #fff; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li > a, .file-choose-replace, .alert, button.close, .dropdown-menu li a:hover { color: #000000; }

.navbar-default .navbar-nav li a {
  color: $text-colour; // override bootstrap
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $secondary-text-colour; // override bootstrap
}


.fa-exclamation-triangle,
.fa-times-circle { color: #df3034; }
.fa-check-circle { color: $success-colour; }
.fa-warning { color: $error-colour; }
#status-filters .active .badge { color: #6f7781; }
#qa-link a { color: #4a8acd; }
hr { color: #bfc1c3; }
#build { color: #f47738; }

#search_button,
#status-filters .active .badge,
.js-enabled .selected
{ background-color: #fff; }

#search_form { color: $grey-2; }

// specify colour of input placeholders for all browsers
::-webkit-input-placeholder { color: $grey-2; }
:-moz-placeholder { color: $grey-2; opacity: 1; }
::-moz-placeholder { color: $grey-2; opacity:  1; }
:-ms-input-placeholder { color: $grey-2; }


.block-label,
.navbar { background-color: #dee0e2; }
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.dropdown-menu li a:hover { background-color: #ffbf47; }
#status-filters .badge { background-color: #000; }

.block-label:hover, .js-enabled .selected { border-color: #0b0c0c; }
.questions-list li, .form-control         { border-color: #bfc1c3; }
.progress-menu-form                       { border-color: #c2c2c2; }
.block-label                              { border-color: #dee0e2; }
.form-control:focus                       { border-color: #ffbf47; }

@mixin alert($colour)
{
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 4px solid $colour;
  padding:15px;
  ul {  // browser compatability to make style consistent
    list-style: disc outside none;
    margin-left: 0;
    padding-left: 1em;
  }
}

.pq-msg-success { @include alert($success-colour); } //Success
.pq-msg-notice { @include alert($notice-colour); }   //Notice invites etc
.pq-msg-error, .pq-msg-warning { @include alert($danger-colour); }  //for Error's and Warnings rejections etc

.js-enabled .add-focus { outline-color: #ffbf47; }
.js-enabled .add-focus { outline: 3px solid #ffbf47; }

// =============================================================================
// = Modification to govuk_template & moj_template =============================

#wrapper {
  max-width: 1024px; // width and alignment are unspecified in govuk_template
  margin-left: auto;
  margin-right: auto;
  border-bottom: none; // remove blue bar at bottom added by moj_template
  padding: 0px 32px; // align to width of content
}

/*
  both govuk_template and moj_template add a hover underline.
  Until moj_template's border bottom is fixed
  (https://github.com/ministryofjustice/moj_template/pull/55) we need to cancel it.
*/
#global-header.with-proposition .header-wrapper .header-proposition #proposition-name:hover {
  border-bottom: none;
}

.phase-banner {
  @include phase-banner($phase);
  a {
    text-decoration: underline; // override bootstrap
  }
}

.phase-tag {
  @include phase-tag($phase);
}

// override govuk-template visited links colours,
// as this is an application more than a simple web page
@media screen {
  a:visited {
    color: $link-colour;
  }
}


// ==============================================================================
// = PQ-wide styling ============================================================

h1 {
  font-family: "nta",Arial,sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

h2 {
  font-size: 19px;
  font-family: "nta",Arial,sans-serif;
  font-weight: normal;
  margin: 10px 0 0 0;
  color: $secondary-text-colour;

}

h3 {
  font-size: 19px;
  font-weight: normal;
  font-family: "nta",Arial,sans-serif;
  color: $secondary-text-colour;
  margin: 10px 0 0 0;
  #watchlist-preview & {
    font-weight: bold;
    color: $text-colour;
    margin: 20px 0 10px 0;
  }
}

h4 {
  font-size: 19px;
  font-weight: normal;
  color: $secondary-text-colour;
}



// --------------------




.pq-header-flags,
.pq-header-links  {display: inline-block;}



button.close {
  float: none;
  margin: 0.5em;
}

.start-hidden { display: none; }

hr { height: 1px; }

ul {
  list-style-type: none;
  padding-left: 0;
}

footer {
  margin-top: 100px;
  a {
    text-decoration: underline; // override bootstrap
  }
}

// = Flags ======================================================================

.flag {
  border: 1.5px solid;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 5px;
  text-align: center;
  white-space: nowrap;
  margin: 0px 10px 0px 0px;
  color: white;
  &.finance-unchecked { background-color: #b10e1e; }
  &.no-response { background-color: #f47738; }
  &.accepted { background-color: #28a197; }
  &.answered { background-color: #006435; }
  &.draft-pending { background-color: #85994b; }
  &.minister-cleared { background-color: #c1a87e; }
  &.ministerial-query { background-color: #b58840; }
  &.pod-cleared { background-color: #a1a8ff; }
  &.pod-query { background-color: #5461ff; }
  &.rejected { background-color: #d0021b; }
  &.unassigned { background-color: #bd10e0; }
  &.with-minister { background-color: #82622e; }
  &.with-pod { background-color: #2e358b; }
  &.transferred-out { background-color: #d53880; }
  &.transferred-in { background-color: #7d7d7d; }
  &.will-write { background-color: #5f5f5f; }
}


.question-type {
  color: #6f777b;
  font-size: 19px;
  font-weight: bold;
  &:before {
    content: '|';
    margin-left: 17px;
    margin-right: 10px;
  }
}

// ==============================================================================

.form-group {
  clear: both;
  margin: 0px 0px 20px 0px;
  .block-label { margin: 0px 0px 20px 0px; }
}

.fa-envelope,
.fa-exclamation-triangle { margin-left: 4px; }

.right { float: right; }

.strong { font-weight: 700; }

label {
  display: block;
  font-weight: normal;
  clear: both;
}

.date,
.datetimepicker { width: 13em; }


// override jquery.datepicker's colours to match the rest of the page
.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  background-color: #FFBF47!important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current {
  background-color: #2B8CC4!important;
}

#pages,
.select2-container-multi .select2-choices li { width: 100%; }

a.button:hover,
a.button-secondary:hover { text-decoration: none; }
button, input[type="submit"] {
  &.link {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
    color: $link-colour;
    font-size: 85%;
    text-decoration: underline;
  }
}

.inline { display: inline-block; }

.form-control {
  font-size: 19px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.no-indent { margin-left: -2.1em; }


// = Calendars =================================================================

.datepicker, .datetimepicker {
  border-style: solid;
  border-radius: 0px;
  border-color: #BFC1C3;
  border-width: 1px;
  display: inline-block;
  width: 90%;
  max-width: 218px;
  input {
    display: inline;
    width: 90%;
    border: none;
  }
}

.fa-calendar {
  cursor: pointer;
}

.fa-exclamation-triangle {
  vertical-align: -20%;
}

.select2-arrow {display:none!important;}

li.select2-search-field {border-bottom: none;}


// = Element spacing ============================================================

.question-allocation-list {
  list-style: none;
  margin-bottom: 1em;
  li {
    margin: 0.8em 0 0.8em 1.2em;
  }
}


.select2-search-choice div { line-height: 1em; }

.allocation-info .button { margin: 30px 0px 0px 0px; }

#progress-panel .date.datetimepicker,
#progress-panel p,
#progress-panel .text,
#progress-panel hr,
#progress-panel a,
#progress-panel label.block-label,
#pq-columns .date.datetimepicker,
#pq-columns p,
#pq-columns select,
#pq-columns hr,
#pq-columns label.block-label
{ margin: 0px 0px 20px 0px; }

#progress-panel label.form-label {
  color: #6F777B;
}

#pq-columns label, #progress-panel label { margin-bottom: 0px; }

#confirmation_button_bar { padding-left: 0px; }
#btn_finance_visibility { margin-top: 30px; }

// = Radio / checkbox styling ===================================================

.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  border-width: 1px;
  border-style: solid;
  padding: 18px 30px 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media (min-width: 641px) {
  .block-label {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.block-label input {
  position: absolute;
  top: 18px;
  left: 15px;
  cursor: pointer;
}

.inline .block-label {
  clear: none;
  margin-right: 15px;
}

.js-enabled .block-label input:focus { outline: none; }

// ==============================================================================

textarea {
  resize:none;
  &.form-control {
    width: 66%;
    min-width: 246px;
  }
}

.admin-link {
  display: block;
  margin: 7.5px 0px;
}

// = Sign in ====================================================================

#sign_in { margin: 30px 0px; }



/* ============================================================================== */
/* ========= Components ========================================================= */
/* ============================================================================== */


// = Navigation bar==============================================================

.navbar {
  // margin: 0px -15px 20px -15px;
  border-radius: 0px;
  #settings { margin-right: 65px; }
  #search_field {
    width: 142px;
    border-radius: 0px;
    margin-right: -4px;
    margin-bottom: 0px;
    font-size: 16px;
    height: 34px;
  }
  #search_button {
    border-radius: 0px;
    width: 34px;
    height: 34px;
    font-size: 18px;
    padding: 4px;
  }
}

/* = New / In Progress Tabs ===================================================== */

.nav-tabs {
  margin-bottom: 20px; // spacing under horizontal tabs

  &.nav-stacked {
    border-bottom: 0; // no thin line under vertical tabs
  }
}

/* = Status filter component on dashboard ========================================== */

#status-filters {
  h2 {
    margin: 0 0 10px 0;
    color: $text-colour;
  }
  .badge {
    float: right;
    min-width: 1.5em;
    margin-top: .2em;
    border-radius: 4px;
    padding: 5px 2px 3px 3px;
  }
}

/* = Tab component ================================================================ */

// override bootstrap and make tabs work without JS

// without js, show all panes on the page
.tab-content > .tab-pane { display: block; }

// with js, all panes are invisible by default...
.js-enabled .tab-content > .tab-pane {
  display: none;
}

// ... except the active one
.js-enabled .tab-content > .tab-pane.active {
  display: block;
}


/* = TRIM links ================================================================= */

.trim-links-form {
  input[type="file"] {
    display: none !important;
  }
  .button-upload,
  .button-cancel {
    float: left;
    margin: .5em .5em 0 0;
  }
}

.button-cancel { margin-right: 0; }
.trim-links-form { margin: .3em 0 0; }
.tr5-message{ display: none; }
.toggle-content{ display: none; }
.additional-action { padding-left: 20px; }
.cancel {
  display: none;
  font-size: 85%;
  text-decoration: underline;
}

/* = Pagination ================================================================= */

#pages {
  clear: both;
  display: block;
  width: 100%;
  margin: 0px 15%;
}

.pagination > li > a,
.pagination > li > span {
  border-top: 0px;
  border-bottom: none;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0px;
  border-right: 0px;
}

/* ============================================================================== */
/* ========= Specific pages ===================================================== */
/* ============================================================================== */

/* = Assignment page (/assignment) ============================================== */

#assignment {
  .panel-heading {
    color: $text-colour;
    font-size: 16px;
    font-weight: bold;
  }
}

/* = Dashboard page (/dashboard) ======================================================== */

#dashboard {

  h1 {
    font-size: 19px;
    font-weight: normal;
    margin: auto 2px auto auto;
  }

  h2 {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    margin: auto;
    color: $text-colour;
  }

  .dashboard-column1-uncommissioned { margin-bottom: 20px; }

  .dashboard-column1-commissioned .col-md-6 {
    padding-left: 0px;
    margin: 0px 0px 10px 0px;
  }

  .dashboard-column-2 .text {
    display: block;
    margin: 0px 0px 6px 0px;
  }

  .questions-list {
    padding: 0px 45px 20px 0px;
    li.question {
      list-style: none;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      padding: 30px 0px 30px 0px;
    }
    .pq-header {
      line-height: 27px;
      margin-bottom: 20px;
      .pq-header-flags { margin-right: 26px; }
    }
    .pq-question {
      margin: .5em 0 .5em;
      padding: .5em 0;
    }
    .status-bar {
      line-height: 32px;
      margin-bottom: 26px;
      padding: 0px;
    }
    .pq-columns .col-md-7 { padding-left: 0px; }
    .pq-inline-form { display: inline!important; }
  }
}

/* = PQ Details Page (/pqs/[uin]) ============================================ */

#pq-details {
  h1 {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin: 0px 10px 0px 0px;
  }

  h2 {
    padding: 0;
    margin: 0;
    color: $text-colour;
  }

  #pq-details-header {
    #pq-details-ref {
      padding: 11px 0px;
      margin: 0px;
      #pq-details-progress { margin-left: 26px; }
    }
  }

  #pq-details-qa-link { display: block; }

  ul.nav-tabs li a {
    outline: 0;
  }

  // remove firefox's dotted line
  select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
  }

  #pq-detail-area {
    margin: 15px 0px 0px 0px;

    #progress-menu {
      z-index: 1;
      padding: 0;

      ul li a {
        padding-left: 0;
      }

      ul li.active a {
        padding-left: 1em;
        border: 1px solid #c2c2c2;
        border-right: 0;
        margin-right: 0;
        border-radius: 6px 0 0 6px;
        @media screen and (max-width: 991px) {
          border-radius: 6px;
          border: 1px solid #c2c2c2;
        }
      }

      ul li a:link {
        color: black;
      }

    }

    #progress-panel {
      margin: 0px;
      padding: 0px;
      .progress-menu-form {
        border-width: 1px;
        border-style: solid;
        padding: 15px 15px 15px 30px;
        margin-left: -1px;
        min-height: 350px;
      }
      #create_iww {
        clear: both;
        display: block;
        width: 280px;
        margin-bottom: 20px;
      }
      .start-hidden { display: none; }
      .ao-reminder-link {
        margin-left: 40px; // put some space between person name and link to email them
      }
      #progress-menu-fc-data .status {
        margin-bottom: .5em;
      }
    }
  }

}

/* = Report pages (/reports/...) ================================================ */

#filter-report {

  h2 {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    margin: auto;
    color: $text-colour;
  }

  p.count {
    font-size: 19px;
    font-weight: bold;
    margin: 20px 0 10px 0;
  }

  .col-md-9 { padding: 0px; }
  .col-md-3 {
    select{
      width: 200px;
      white-space: pre-wrap; /* css-3 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
      text-overflow: ellipsis;
      option {}
    }
  }
  .button { margin-right: 25%; }

}

#minister-report,
#press-desk-report {
  table td {
    padding-top: 10px;
    padding-bottom: 13px;
  }
  .table-cell-centered { text-align: center; }
}


/* = Settings (/admin) ====================================================== */

#settings-home {
  h2 {
    font-weight: bold;
    border-bottom: 2px solid $panel-colour;
    padding-bottom: 7.5px;
    display: block;
    margin: 20px 0 10px 0;
    color: $text-colour;
  }

  .col-md-4 {
    padding-left: 0px;
    padding-right: 32px;
  }
}

/* = Watchlist preview (/watchlist/preview) ================================ */

#watchlist-preview {
  h2 {
    margin: 20px 0 10px 0;
    font-weight: bold;
    color: $text-colour;
  }
}

/* = Minister details page (/ministers/) =========================== */
/* = Press-desk page (/press_desks/]) ============================== */
/* = CSV export page (/export) ===================================== */

#admin-ministers-details h2:last-of-type,
#admin-pd-details h2:last-of-type,
#csv-export h2 {
  margin: 20px 0 10px 0;
  font-weight: bold;
  color: $text-colour;
}


/* ================================================================= */

.table {clear: both;}

.table thead tr th,
.table tbody tr td {
  padding-left: 0px;
}

#admin-button-bar {
  float: right;
  margin-bottom: 10px;
  list-style-type: none;
  li {
    display: inline;
    margin-left: 5px;
  }
}

.form-control,
.form-group select {
  border-style: solid;
  border-radius: 0px;
  width: auto;
  height: auto; // override bootstrap
}

.form-control:focus,
.form-group select:focus {
  border-width: 3px;
  box-shadow: none;
}

// Minister list column widths
#admin-status { width: 100px; }
#minister-name { width: 30% }


/* ============================================================ */
/* = Misc.                                                      */
/* ============================================================ */

.reveal{
  border-left: 5px solid #eee;
  padding-left: .5em;
  margin-top: .5em;
  p{
    &:first-child{ padding-top: .5em; }
    &:last-child{ padding-bottom: .5em; }
  }
  &.closed{ display: none; }
  &.opened{ display: block; }
}

.br{ display: block; }

.space-before { margin-top: 15px; }

.space-before-20 { margin-top: 20px; }

.details-reveal {
  color: #005ea5;
  cursor: pointer;
  margin-right: .5em;
  position: relative;
  &.closed {
    &:before {
      content: '► ';
      position: absolute;
      left: -1.25em;
    }
  }
  &.opened {
    &:before {
      content: '▼ ';
    }
  }
}

.form-group.inline {
  .block-label {
    margin: .5em .5em 0 0;
    &:last-child { margin-right: 0; }
  }
}

@media print {
  .trim_area, .button, .button-secondary, td.edit { display: none; }
}
