@import "colours";
@import "design-patterns/alpha-beta";

$phase:live;
$success-colour: $button-colour;
$notice-colour: $govuk-blue;
$danger-colour: $error-colour;

//==============================================================================
// = Global Elements ===========================================================
//==============================================================================

h1 {
  font-family: "nta",Arial,sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

h2 {
  font-size: 19px;
  font-family: "nta",Arial,sans-serif;
  font-weight: normal;
  margin: 10px 0 0 0;
  color: $secondary-text-colour;
}

h3 {
  font-size: 19px;
  font-weight: normal;
  font-family: "nta",Arial,sans-serif;
  color: $secondary-text-colour;
  margin: 10px 0 0 0;
}

h4 {
  font-size: 19px;
  font-weight: normal;
  color: $secondary-text-colour;
}

p { margin: 0 0 6px 0; }

body {
  font-size: 19px;
  line-height: 1.3;
}

textarea { resize: none; }

hr {
  color: $border-colour;
  height: 1px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

footer {
  margin-top: 100px;
  a { text-decoration: underline; }
}

label {
  display: block;
  font-weight: normal;
  //clear: both;
}

//==============================================================================
// = GLOBAL CLASSES ============================================================
//==============================================================================

.row { margin: 0; }

.open { color: $page-colour; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li > a, .file-choose-replace, .alert, button.close, .dropdown-menu li a:hover { color: black; }

// == symbols =====

.fa-times-circle { color: $error-colour; }
.fa-check-circle { color: $success-colour; }
.fa-warning { color: $error-colour; }
.fa-file-o { color: $orange;}

.fa-envelope {
  color: $page-colour;
  margin-left: 4px;
}
.fa-exclamation-triangle {
  color: $error-colour;
  margin-left: 4px;
}

// specify the colour of input placeholders (eg search bar) for all browsers
::-webkit-input-placeholder { color: $grey-2; }
:-moz-placeholder { color: $grey-2; opacity: 1; }
::-moz-placeholder { color: $grey-2; opacity:  1; }
:-ms-input-placeholder { color: $grey-2; }

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.dropdown-menu li a:hover { background-color: $yellow; }

.block-label:hover, .js-enabled .selected { border-color: $text-colour; }
.js-enabled .selected { background-color: $page-colour; }
.questions-list li { border-color: $border-colour; }
.progress-menu-form { border-color: #c2c2c2; }
.block-label { border-color: $panel-colour; }


#wrapper {
  max-width: 1024px; // width and alignment are unspecified in gov.uk_template
  margin-left: auto;
  margin-right: auto;
  border-bottom: none; // remove blue bar at bottom added by moj_template
  padding: 0 32px; // align to width of content
}

/*
  both gov.uk_template and moj_template add a hover underline.
  Until moj_template's border bottom is fixed
  (https://github.com/ministryofjustice/moj_template/pull/55) we need to cancel it.
*/
#global-header.with-proposition .header-wrapper .header-proposition #proposition-name:hover {
  border-bottom: none;
}

.phase-banner {
  @include phase-banner($phase);
  a {
    text-decoration: underline; // override bootstrap
  }
}

.phase-tag {
  @include phase-tag($phase);
}

// only visible on the staging server to warn that it is not the live system
.staging_banner {
  background-color: $red;
  text-align: center;
  padding: 1em;
  height: auto;
  color: white;
  font-weight:bold;
}

// override gov.uk-template visited links colours,
// as this is an application, rather than a simple web page
@media screen {
  a:visited {
    color: $link-colour;
  }
}

button.close {
  float: none;
  margin: 0.5em;
}

.flag {
  border: 1.5px solid;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 5px;
  text-align: center;
  white-space: nowrap;
  margin: 0 10px 0 0;
  color: white;
  &.finance-unchecked { background-color: #b10e1e; }
  &.no-response { background-color: #f47738; }
  &.accepted { background-color: #28a197; }
  &.answered { background-color: #006435; }
  &.draft-pending { background-color: #85994b; }
  &.minister-cleared { background-color: #c1a87e; }
  &.ministerial-query { background-color: #b58840; }
  &.pod-cleared { background-color: #a1a8ff; }
  &.pod-query { background-color: #5461ff; }
  &.rejected { background-color: #d0021b; }
  &.unassigned { background-color: #bd10e0; }
  &.with-minister { background-color: #82622e; }
  &.with-pod { background-color: #2e358b; }
  &.transferred-out { background-color: #d53880; }
  &.transferred-in { background-color: #7d7d7d; }
  &.will-write { background-color: #5f5f5f; }
}

//found in assignment/show and shared/_allocation_list
.strong { font-weight: 700; }

#pages,
.select2-container-multi .select2-choices li { width: 100%; }

a.button:hover,
a.button-secondary:hover { text-decoration: none; }
button, input[type="submit"] {
  &.link {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
    color: $link-colour;
    font-size: 85%;
    text-decoration: underline;
  }
}

.inline { display: inline-block; }

.select2-arrow {display:none!important;}
li.select2-search-field {border-bottom: none;}


.question-allocation-list {
  list-style: none;
  margin-bottom: 1em;
  li {
    margin: 0.8em 0 0.8em 1.2em;
  }
}

.allocation-info .button { margin: 30px 0 0 0; }

#pq-columns {
  .date.datetimepicker, p, select, hr, label.block-label {
    margin: 0 0 20px 0;
  }
}

//= Forms ====

.form-control {
  font-size: 19px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: $border-colour;
}

.form-group.inline {
  .block-label {
    margin: .5em .5em 0 0;
    &:last-child { margin-right: 0; }
  }
}

textarea.form-control {
  width: 66%;
  min-width: 246px;
}

.form-control:focus  { border-color: $yellow; }

.form-group {
  clear: both;
  margin: 0 0 20px 0;
  .block-label { margin: 0 0 20px 0; }
}

.form-control,
.form-group select {
  border-style: solid;
  border-radius: 0;
  width: auto;
  height: auto; // override bootstrap
}

.form-control:focus,
.form-group select:focus {
  border-width: 3px;
  box-shadow: none;
}

.js-enabled .add-focus { outline-color: $yellow; }
.js-enabled .add-focus { outline: 3px solid $yellow; }

.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  border: 1px solid;
  padding: 18px 30px 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: $panel-colour;

  input {
    position: absolute;
    top: 18px;
    left: 15px;
  }

  .inline & {
    clear: none;
    margin-right: 15px;
  }

  .js-enabled & {
    input:focus {
      outline: none;
    }
  }

  @media (min-width: 641px) {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

// on all the "return to..." links
.admin-link {
  display: block;
  margin: 7.5px 0;
}

/* found in confirmation and assignment pages*/
.space-before { margin-top: 15px; }
.space-before-20 { margin-top: 20px; }


// when printing pages, remove interactive components
@media print {
  .trim_area, .button, .button-secondary, td.edit { display: none; }
}

/* ============================================================================== */
/* ========= Components ========================================================= */
/* ============================================================================== */


// = linear list of questions (found on dashboard and filter views) =============

#select-all-questions {
  padding: 0;
  label {
    max-width: 655px;
    padding: .5em 0;
    border-bottom: 2px solid $grey-2;
    input[type="checkbox"] {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
}

.questions-list {
  padding: 0 45px 20px 0;
  > li {
    list-style: none;
    border-bottom: 2px solid $grey-2;
    padding: 30px 0 30px 0;
  }
  .pq-question {
    margin: .5em 0 .5em;
    padding: .5em 0;
  }
  .status-bar {
    line-height: 32px;
    margin-bottom: 26px;
    padding: 0;
  }
  .pq-columns .col-md-7 { padding-left: 0; }
  .pq-inline-form { display: inline!important; }
}

.pq-header {
  line-height: 27px;
  margin-bottom: 20px;
  .col-md-5 { padding-left: 0; }
  input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}

.pq-header-flags { display: inline-block; }

.question-type {
  color: $secondary-text-colour;
  font-size: 19px;
  font-weight: bold;
  margin-left: 7px;
}

// = Alert messages ============================================================

@mixin alert($colour)
{
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 4px solid $colour;
  padding:15px;
  ul {
    list-style: disc outside none;
    margin-left: 0;
    padding-left: 1em;
  }
}

.pq-msg-success { @include alert($success-colour); }
.pq-msg-notice { @include alert($notice-colour); }
.pq-msg-error, .pq-msg-warning { @include alert($danger-colour); }

// = Date-time pickers =========================================================

.datepicker, .datetimepicker {
  border-radius: 0;
  border: 1px solid $border-colour;
  display: inline-block;
  width: 90%;
  max-width: 218px;
  input {
    display: inline;
    width: 90%;
    border: none;
  }
}

// override jquery.date picker's colours to match the rest of the page
.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  background-color: $yellow!important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current {
  background-color: #2B8CC4!important;
}

.fa-calendar {
  cursor: pointer;
}

// Tables on setting pages (ministers, watch list, action officers, etc.) =========
.table {
  clear: both;
  thead tr th, tbody tr td {
    padding-left: 0; // bootstrap override
  }
}

// specific columns
#admin-status { width: 100px; }
#minister-name { width: 30%; }

// = Button bar on some settings pages (watch list, action officers, etc.) =========
#admin-button-bar {
  float: right;
  margin-bottom: 10px;
  list-style-type: none;
  li {
    display: inline;
    margin-left: 5px;
  }
}

// = Allocation rejection control ==================================================
/* used to show/hide allocation rejections*/
.reveal{
  div {
    border-left: 5px solid #eee;
    padding-left: .5em;
    margin-top: .5em;
    p{
      &:first-child{ padding-top: .5em; }
      &:last-child{ padding-bottom: .5em; }
    }
    &.closed{ display: none; }
    &.opened{ display: block; }
  }

  > span {
    color: #005ea5;
    cursor: pointer;
    margin-right: .5em;
    position: relative;
    &.closed {
      &:before {
        content: '► ';
        position: absolute;
        left: -1.25em;
      }
    }
    &.opened {
      &:before {
        content: '▼ ';
      }
    }
  }
}

// = Navigation bar ============================================================

.navbar, .navbar-default { background-color: $page-colour; }

.navbar-default { border: 1px solid #e6e6e6; background-color: #DEE0E2;}

.navbar-default .navbar-nav > li > a {
  color: #0b0c0c; // override bootstrap
  &:hover {
    color: $secondary-text-colour;
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  text-decoration: none;
  color: #555555;
  background-color: #e7e7e7;
}

.navbar {
  border-radius: 0;
  #settings { margin-right: 65px; }
  #search_field {
    width: 142px;
    border-radius: 0;
    margin-right: -4px;
    margin-bottom: 0;
    font-size: 16px;
    height: 34px;
  }
  #search_button {
    border-radius: 0;
    width: 34px;
    height: 34px;
    font-size: 18px;
    padding: 4px;
  }
}

/* = New / In Progress Tabs ===================================================== */

.nav-tabs {
  margin-bottom: 20px; // spacing under horizontal tabs

  &.nav-stacked {
    border-bottom: 0; // no thin line under vertical tabs
  }
}

/* = Tab component ================================================================ */

// override bootstrap and make tabs work without JS

// without js, show all panes on the page
.tab-content > .tab-pane { display: block; }

// with js, all panes are invisible by default...
.js-enabled .tab-content > .tab-pane {
  display: none;
}

// override bootstrap and make tabs work without JS

// without js, show all panes on the page
.tab-content > .tab-pane { display: block; }

// with js, all panes are invisible by default...
.js-enabled .tab-content > .tab-pane {
  display: none;
}

// ... except the active one
.js-enabled .tab-content > .tab-pane.active {
  display: block;
}


/* = TRIM links ================================================================= */

.trim_area {
  input[type="file"] {
    display: none !important;
  }
}

.trim-links-form {
  margin: .3em 0 0;
  .button-upload,
  .button-cancel {
    float: left;
    margin: .5em .5em 0 0;
  }
}
.button-cancel { margin-right: 0; }
.tr5-message{ display: none; }
.toggle-content{ display: none; }
.additional-action { padding-left: 20px; }
.cancel {
  display: none;
  font-size: 85%;
  text-decoration: underline;
}
.tr5-message span:first-child,
#status span:first-child {  margin-right: 4px;}
#status #cancel {
 display: block;
 margin-top: 10px;
}

/* = Pagination ================================================================= */

#pages {
  clear: both;
  display: block;
  width: 100%;
  margin: 0 15%;
}

.pagination > li > a,
.pagination > li > span {
  border-top: 0;
  border-bottom: none;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0;
  border-right: 0;
}

/* ============================================================================== */
/* ========= Specific pages ===================================================== */
/* ============================================================================== */

/* = Assignment page (/assignment) ============================================== */

#assignment {
  .panel-heading {
    color: $text-colour;
    font-size: 16px;
    font-weight: bold;
  }
  .row-spacer {
    margin: 15px 0;
  }
}

/* = finance/questions page ============================================== */
#confirmation_button_bar { padding-left: 0; }

/* = Dashboard page (/dashboard) ============================================ */

#dashboard, #preview {

  h1 {
    font-size: 19px;
    font-weight: normal;
    margin: auto 2px auto auto;
  }

  h2 {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    margin: auto;
    color: $text-colour;
  }

  ul li h3 {
    display: inline-block;
    margin-right: 0.5em;
  }

  #status-filters {
    h2 {
      margin: 0 0 10px 0;
      color: $text-colour;
    }
    .active .badge {
      color: #6f7781;
      background-color: $page-colour;
    }
    .badge {
      float: right;
      min-width: 1.5em;
      margin-top: .2em;
      border-radius: 4px;
      padding: 5px 2px 3px 3px;
      background-color: black;
    }
  }

  button.button-choose{
    background-color: $light-blue;
    color: $page-colour;
    box-shadow: 0 2px 0 darkblue;
  }

  // errors that show when Quick Actions failed
  .quick-action-export-error-message {
    display: none;
    color: $error-colour;
    padding: 1em 0 0 2em;
  }

  // errors that show when commissioning failed
  .commissioning-error-message {
    display: none;
    color: $error-colour;
    padding: 1em 0 0 2em;
  }

  .dashboard-column1-uncommissioned { margin-bottom: 20px; }

  .dashboard-column1-commissioned .col-md-6 {
    padding-left: 0;
    margin: 0 0 10px 0;
  }

  .dashboard-column-2 .text {
    display: block;
    margin: 0 0 6px 0;
  }

  //formatting of the action officers listed in the PQ's on the dashboard when commissioning
  .select2-search-choice div { line-height: 1em; }

  // make un-commissioned questions form labels look like
  // h3s used for commissioned questions
  label.form-label { color: $secondary-text-colour; }

}


/* = PQ Details Page (/pqs/[uin]) ============================================ */

#pq-details {
  h1 {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin: 0 10px 0 0;
  }

  h2 {
    padding: 0;
    margin: 0;
    color: $text-colour;
  }

  #progress-panel {
    .date.datetimepicker, p, .text, hr, a, label {
      &.block-label { margin: 0 0 20px 0; }
      &.form-label { color: #6F777B; }
    }
    #save { margin-top: 40px; }
  }

  #pq-details-header {
    #pq-details-ref {
      padding: 11px 0;
      margin: 0;
      #pq-details-progress { margin-left: 26px; }
    }
  }

  #pq-details-qa-link { display: block; }

  ul.nav-tabs li a {
    outline: 0;
  }

  // remove firefox's dotted line
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 black;
  }

  #pq-detail-area {
    margin-top: 15px;

    #progress-menu {
      z-index: 1;
      padding: 0;

      ul li a {
        padding-left: 0;
      }

      ul li.active a {
        padding-left: 1em;
        border: 1px solid #c2c2c2;
        border-right: 0;
        margin-right: 0;
        border-radius: 6px 0 0 6px;
        @media screen and (max-width: 991px) {
          border-radius: 6px;
          border: 1px solid #c2c2c2;
        }
      }

      ul li a:link {
        color: black;
      }
    }

    #progress-panel {
      margin: 0;
      padding: 0;

      #choices {
        background-color: $light-blue;
        color: $page-colour;
        box-shadow: 0 2px 0 darkblue;
      }
      .button-cancel {
        margin: .5em .5em 0 0;
      }
      .progress-menu-form {
        border: 1px solid #c2c2c2;
        padding: 15px 15px 15px 30px;
        margin-left: -1px;
        min-height: 350px;
      }
      #create_iww {
        clear: both;
        display: block;
        width: 280px;
        margin-bottom: 20px;
      }
      .ao-reminder-link {
        margin-left: 40px; // put some space between person name and link to email them
      }
      #progress-menu-fc-data .status {
        margin-bottom: .5em;
      }
    }
  }

}

/* = Report pages (/reports/...) ================================================ */

#filter-report {

  h2 {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    margin: auto;
    color: $text-colour;
  }

  p.count {
    font-size: 19px;
    font-weight: bold;
    margin: 20px 0 10px 0;
  }

  .col-md-9 { padding: 0; }
  .col-md-3 {
    select{
      width: 200px;
      white-space: pre-wrap; /* css-3 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
      text-overflow: ellipsis;
      option {}
    }
  }
  .button { margin-right: 25%; }
}

#minister-report,
#press-desk-report {
  table td {
    padding-top: 10px;
    padding-bottom: 13px;
  }
  .table-cell-centered { text-align: center; }
}

/* = Settings (/admin) ====================================================== */

#settings-home {
  h2 {
    font-weight: bold;
    border-bottom: 2px solid $panel-colour;
    padding-bottom: 7.5px;
    display: block;
    margin: 20px 0 10px 0;
    color: $text-colour;
  }

  .col-md-4 {
    padding-left: 0;
    padding-right: 32px;
  }
}

/* = Watchlist preview (/watchlist/preview) ================================ */

#watchlist-preview {
  h2 {
    margin: 20px 0 10px 0;
    font-weight: bold;
    color: $text-colour;
  }
  h3 {
    font-weight: bold;
    color: $text-colour;
    margin: 20px 0 10px 0;
  }
}

/* = Early bird preview (/early_bird/preview) ================================ */

#earlybird-preview {
  h2 {
    margin: 20px 0 10px 0;
    font-weight: bold;
    color: $text-colour;
  }
  h3 {
    font-weight: bold;
    color: $text-colour;
    margin: 20px 0 10px 0;
  }
}

/* = Minister details page (/ministers/) =========================== */
/* = Press-desk page (/press_desks/]) ============================== */
/* = CSV export page (/export) ===================================== */

#admin-ministers-details h2:last-of-type,
#admin-pd-details h2:last-of-type,
#csv-export h2 {
  margin: 20px 0 10px 0;
  font-weight: bold;
  color: $text-colour;
}

/* = Sign in page (/users/sign_in) ========================================== */

#sign_in { margin: 30px 0; }

/* = Metrics dashboard (/metrics_dashboard) ================================= */

#metrics_dashboard {
  h2 {
    padding-top: .4em;
    clear: both;
  }
  ul {
    padding-left: 1em;
    li { clear: both; }
    li div {
      padding: 0 .3em 0 .3em;
      margin: 0 0 .2em 0;
      width: 60%;
      float: right;
      span:nth-child(2) { padding-left: 1em; }
    }
    li div:first-child {
      float: left;
      display: block;
      width: 40%;
    }
  }
}

// = statistics pages ====================================================== */

#stages_time {
  #graph {
    font-size: 80%; max-width: 600px;
  }
  #graph-inner {
    margin: 2em 0 1em 0;
    canvas {  vertical-align: middle; }
  }
  #x-axis { text-align: center; font-size: 80% }
}

/* = preview page ========================================================== */

#preview {
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
  }
  #sidebar {
    .shim { display: block; }
  }
  @media (max-width: 991px) {
    #sidebar {
      .shim { display: none; }
      #filters { position: static; }
    }
  }
}

/* = Filter sidebar ========================================================== */

#dashboard, #preview {
  #count {
    max-width: 655px;
    background-color: $highlight-colour;
    padding: .7em 0 .7em .7em;
    border-left: 5px solid $border-colour;
    margin: .5em 0;
  }
  #sidebar {
    padding: 0;
    h2 {
      color: $text-colour;
      font-size: 19px;
      font-weight: bold;
    }
    input[type="button"]{
      padding-left: 0;
      border: none;
      color: $link-colour;
      background-color: $page-colour;
    }
    #quick-links, #filters { margin: 7.5px 0; }
    #quick-links {
      padding-bottom: 15px;
      border-bottom: 2px solid $grey-2;
      input[type="submit"] { margin-right: 10px; }
     .content {
        .notice {
          background: $grey-4;
          border-left: 5px solid $grey-2;
          margin: 15px 0;
          padding: 0.7em 0 0.7em 0.7em;
        }
      }
      .collapsed { display: none; }
    }
    #filters {
      .filter-box {
        padding: 4px 8px;
        background-color: $panel-colour;
        margin: 0.5em 0;
        h3 {
          color: $text-colour;
          display: inline-block;
          margin: 4px 0;
        }
        .notice {
          display: none;
          width: 100%;
          span { color: #ff0000; }
        }
        .right {
          float: right;
          border: none;
          margin-top: 4px;
          background-color: inherit;
        }
        .view {
          width: 100%;
          text-align: left;
          color: $text-colour;
          background-clip: border-box;
          background-origin: padding-box;
          background-size: auto auto;
          background: $panel-colour url('option-select-toggle-sprite.png') no-repeat scroll;
        }
        .open { background-position: right -82px; }
        .closed { background-position: right 0; }
        .collapsed { display: none; }
        .content {
          .form-group { margin-bottom: 0; }
          .datepicker {
            background-color: $page-colour;
            width: 100%;
          }
          .list {
            background-color: $page-colour;
            margin: 5px 0;
            label {
              padding: 8px;
              margin-bottom: 0; // Override bootstrap
              font-size: 16px;
              &:not(:last-child) { border-bottom: 1px solid $panel-colour; }
              input[type="radio"] {
                margin-right: 8px;
                width: 16px;
                height: 16px;
              }
            }
            label:hover { background: $yellow; }
          }
          #keywords { width: 100%; }
          .clearFilter { height: 1.5em; }
        }
      }
    }
  }
  @media (max-width: 991px) {
    #sidebar {
      #filters, #quick-links {
        width: 235px;
      }
    }
  }
}

