<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h2>URGENT, please accept or reject the following PQ, the link to do it should be in your inbox, contact the PQ team if you have any questions</h2>

<div style="padding-left:0.5em;margin-left:10px;border-left:2px solid black;margin-top:5px;margin-right:5px;margin-bottom:5px;font-size: 110%;">
  <%= @template_params[:question] %>
</div>


<p>Please contact one of the PQ team should you have any questions.</p>



<%= render 'shared/mailer/email_signature' %>

</body>
</html>