<% if @pq.seen_by_finance %>
	<p><i class="fa fa-check-circle"></i> PQ viewed</p>
<% else %>
	<p><i class="fa fa-times-circle"></i> PQ not viewed</p>
<% end %>

<label for="pq_seen_by_finance" class="block-label">
	<%= f.check_box(:seen_by_finance) %>
    Seen by finance
</label>

<label for="pq_finance_interest" class="block-label">
	<%= f.check_box(:finance_interest) %>
	Interest in PQ
</label>