<% if @pq.seen_by_finance %>
	<p class="text"><i class="fa fa-check-circle"></i> PQ viewed</p>
<% else %>
	<p class="text"><i class="fa fa-times-circle"></i> PQ not viewed</p>
<% end %>
<div class="form-group">
	<label for="pq_seen_by_finance" class="block-label">
		<%= f.check_box(:seen_by_finance, include_hidden: false) %>
    	Seen by finance
	</label>
</div>
<div class="form-group">
	<label for="pq_finance_interest" class="block-label">
		<%= f.check_box(:finance_interest, include_hidden: false) %>
		Interest in PQ
	</label>
</div>