<div class="checkbox">
  <%= f.label(:seen_by_finance) %>
  <%= f.check_box(:seen_by_finance) %>
</div>
<div class="checkbox">
  <%= f.label(:finance_interest) %>
  <%= f.check_box(:finance_interest) %>
</div>