= render partial: 'gds_checkbox', locals: { value: @pq.finance_interest,
                                            field: 'finance_interest',
                                            label: 'Finance interest' }
