<h4>Date sent to POD</h4>
<p class="text"><%= @pq.pod_waiting.strftime('%d/%m/%Y %H:%M') unless @pq.pod_waiting.nil? %></p>
<div class="form-group">
	<label for="pq_pod_query_flag" class="block-label">
		<%= f.check_box(:pod_query_flag, include_hidden: false) %>
		POD query
	</label>
</div>
<div class="form-group">
	<label for="pod_clearance" class="form-label">Date cleared by POD</label>
	<span class="input-group date datetimepicker" data-date-format="DD/MM/YYYY HH:mm">
		<input id="pod_clearance" class="form-control" name="pq[pod_clearance]" type="text" value="<%= @pq.pod_clearance.strftime('%d/%m/%Y %H:%M') unless @pq.pod_clearance.nil? %>">
		<span class="input-group-addon glyphicon glyphicon-calendar"></span>
	</span>
</div>
