<div id="pq-details-header" class="row">
  <div id="pq-details-title" class="col-md-7">
    <h2><%= @pq.uin %> - PQ Details</h2>
    <% if @pq.question_type == 'NamedDay' %>
        <span class="label label-primary" title="Named day">N</span>
    <% end %>
    <% if @pq.transferred  %>
        <span class="label label-warning" title="Transferred">Transferred</span>
    <% end %>
    <% if @pq.i_will_write %>
        <span class="label flag-will-write" title="I will write">I will write</span>
    <% end %>
  </div>
  <div id="qa-link" class="col-md-2">
    <% if !@pq.preview_url.nil? %>
        <a href="<%= @pq.preview_url %>">View PQ in Q&amp;A Tool</a>
    <% end %>
  </div>
  <div id="trim-links" class="col-md-3">
    <div id='trim_area_<%= @pq.id %>'>
      <%= render partial: 'shared/trim_links', locals: {question: @pq} %>
    </div>
  </div>
</div>