#pq-details-header.row
  #pq-details-ref.col-md-9
    h2= @pq.uin
    - if @pq.question_type == 'NamedDay'
      span.label.name-day title=("Named day")  N
    - if @pq.transferred
      span.label.flag-transferred-in title="Transferred"  T
    - if @pq.i_will_write
      span.label.flag-will-write title=("I will write")  IWW
    span#pq-details-progress class=("label flag-#{@pq.progress.classname}") = @pq.progress.name
  .col-md-3.trim_area.trim_area_header id="trim_area_#{@pq.id}" 
    = render partial: 'shared/trim_links', locals: {question: @pq}
#pq-details-qa-link.row
  .col-md-9
  .col-md-3.pull-right
    - if !@pq.preview_url.nil?
      a href=@pq.preview_url rel="external"  View PQ in Q&amp;A Tool
br/
