<h1>Editing Actionlist member</h1>

<%= render 'form' %>

<%= link_to 'Show', @actionlist_member, {class: 'btn btn-default'} %>
<%= link_to 'Back to Actionlist', actionlist_members_path, {class: 'btn btn-warning', style: 'color:#ffffff;'} %>
