<%= render partial: "shared/flash_messages", flash: flash %>
<h2>Actionlist members</h2>
<div id="admin-al-list">
  <div class="row>">
    <div class="col-md-2.5 pull-right">
      <%= link_to ('Add actionlist member'), new_actionlist_member_path, {class: 'btn btn-secondary'} %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th class="admin-status">Status</th>
        <th></th>
      </tr>
    </thead>
    <% @actionlist_members.each do |actionlist_member| %>
      <tbody>
        <tr>
          <td><%= link_to "#{actionlist_member.name}", actionlist_member_path(actionlist_member) %></td>
          <td>
            <% if actionlist_member.deleted %>
              <i class="fa fa-times"></i>&nbsp;Inactive
            <% else %>
              <i class="fa fa-check-circle"></i>&nbsp;Active
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_actionlist_member_path(actionlist_member) %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
