<h2>Actionlist member details</h2>
<hr />

<p id="notice"><%= notice %></p>

<p>
	Name:<br>
	<%= @actionlist_member.name %>
</p>

<p>
	Email:<br/>
	<%= @actionlist_member.email %>
</p>

<p>
	<% if @actionlist_member.deleted %>
		<i class="fa fa-times"></i> Inactive
	<% else %>
		<i class="fa fa-check-circle"></i> Active
	<% end %>
</p>

<%= link_to 'Edit', edit_actionlist_member_path(@actionlist_member), {class: 'btn btn-info'} %>
