<h2>Actionlist member details</h2>
<hr />
<p id="notice"><%= notice %></p>
<p><strong>Name:</strong>&nbsp;<%= @actionlist_member.name %></p>
<p><strong>Email:</strong>&nbsp;<%= @actionlist_member.email %></p>
<p>
	<% if @actionlist_member.deleted %>
		<i class="fa fa-times"></i>&nbsp;Inactive
	<% else %>
		<i class="fa fa-check-circle"></i>&nbsp;Active
	<% end %>
</p>
<!--
<%= link_to 'Edit', edit_actionlist_member_path(@actionlist_member), {class: 'btn btn-info'} %>
 -->