h2 Minister report
table#minister-report.table.table-hover
  thead
    tr
      th Progress
      - @ministers.each do |m|
        th.table-cell-centered
          = link_to m.name  , {:action => 'filter_all', minister_id: m.id }
  tbody
    - @states.each do |state|
      tr
        td
          span class=("label flag-#{state}") = state
        - @ministers.each do |m|
          - @count = @counters[[m.id, state]] || 0
          td.table-cell-centered
            - if @count > 0
              = link_to @count  , {:action => 'filter_all', minister_id: m.id, state: state}
            - else
              | 0
