<h2>Minister report</h2>
<table id="minister-report" class="table table-hover">
  <thead>
    <tr>
      <th>Progress</th>
      <% @ministers.each do |m| %>
        <th class="table-cell-centered">
          <%= link_to m.name  , {:action => 'filter_all', minister_id: m.id }%>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @progresses.each do |p| %>
    <tr>
      <td><span class="label flag-<%= p.classname %>"><%= p.name %></span></td>
      <% @ministers.each do |m| @count = @counters[[m.id, p.id]] || 0 %>
        <td class="table-cell-centered">
          <% if @count > 0 %>
            <%= link_to @count  , {:action => 'filter_all', minister_id: m.id, progress_id: p.id} %>
          <% else %>
            0
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
