#members_result
  .field
    select#members_result_select
      - @members.each do |member|
        option data-name=member['DisplayAs'] value=member['Member_Id'] 
          = member['Member_Id']
          | \- #{member['DisplayAs']}
    = link_to 'Select', {remote: true}, {id: 'members_result_select_link'}
