#transfer
  = form_for(@pq, url: { controller:'transferred', action:'create'} ) do |f|
    = render partial: 'shared/errors', object: @pq
    fieldset
      .form-group
        label.form-label for="pq_uin"  Please enter the UIN for the transferred PQ
        = f.text_field :uin, class:'form-control'
      .form-group
        label.form-label for="pq_question"  Please enter the text of the question for the transferred PQ
        = f.text_area :question, cols: 40, rows: 5, class:'form-control'
      .form-group
        label.form-label for="pq_dateforanswer"  Date for answer
        .datetimepicker
          input#pq_dateforanswer.form-control.pq_dateforanswer name="pq[date_for_answer]" type="text" value=(@pq.date_for_answer.to_s) /
          span.fa.fa-calendar
      p.text House
      .form-group.inline
        label.block-label for="pq_house_name_house_of_commons"
          = f.radio_button :house_name, 'House Of Commons'
          | House of Commons
        label.block-label for="pq_house_name_house_of_lords"
          = f.radio_button :house_name, 'House Of Lords'
          | House of Lords
      .form-group
        label.form-label for="pq_member_name"  Name of member
        = f.text_field :member_name, class:'form-control'
      .form-group
        label.form-label for="pq_member_constituency"  Member constituency
        = f.text_field :member_constituency, class:'form-control'
      p.text Member has registered an interest in the question
      .form-group.inline
        label.inline.block-label for="pq_registered_interest_false"
          = f.radio_button :registered_interest, 'false'
          | No
        label.inline.block-label for="pq_registered_interest_true"
          = f.radio_button :registered_interest, 'true'
          | Yes
      p.text Question type
      .form-group.inline
        label.block-label for="pq_question_type_ordinary"
          = f.radio_button :question_type, 'Ordinary'
          | Ordinary
        label.block-label for="pq_question_type_namedday"
          = f.radio_button :question_type, 'NamedDay'
          | Named day
      .form-group
        label.form-label for="pq_transfer_in_ogd_id"  Transferred in from
        = f.collection_select(:transfer_in_ogd_id, @ogd_list, :id, :name, :include_blank => "Select Department")
      .form-group
        label.form-label for="transfer_in_date"  Date transferred in
        .datetimepicker
          input#transfer_in_date.form-control name="pq[transfer_in_date]" type="text" value=(@pq.transfer_in_date.to_s) /
          span.fa.fa-calendar
      .form-group
        = f.submit 'Create PQ', :class => 'button'
